@import './partials/variables';
@import './partials/mixins';

@include google-fonts("Noto+Sans+JP:wght@400;700&display=swap");

body {
  font-family: $text-font;
  margin: 0;
  background-color: $backgrounf-color;
}

